.display-none {
  display: none;
}

header {
  background: #000;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
}

footer {
  background: #000;
  color: white;
  text-align: center;
  width: 100%;
}

.home {
  min-height: 80 vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.home .btn {
  width: 150px;
  margin: 50px;
}

#master {
  padding-top: 69px;
}

.required {
  color: red;
}

.search-header {
  width: 100%;
}

.search-header .panel {
  width: 100%;
}

.search-header .panel-body > span {
  font-size: 1.4em;
  font-weight: bold;
}

span span {
  font-weight: initial;
}

.lost-pet {
  border: 1px solid #ddd;
  border-radius: 1%;
  margin: 5px 0;
  padding: 10px;
}

#map {
  height: 500px;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.btn-description {
  position: absolute;
  bottom: 0;
  right: 0;
}

div.lost-pet {
  position: relative;
}

#hour, #minute {
  padding: 5px 15px;
}

#upload-photo-div {
  margin-top: 15px;
  margin-bottom: 15px;
  background-image: url("https://placeimg.com/400/300/animals/grayscale");
  background-size: cover;
  background-repeat: no-repeat;
}

#upload-photo-div button  {
  height: 185px;
  width: 185px;
  margin: 0 auto;
  color: white;
  border: 10px  double white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background: black;
  opacity: .7;
  z-index: 99;
  font-size: 1.1em;
  letter-spacing: .1em; 
}

#upload-photo-div .glyphicon {
  position: relative;
  font-size: 1.5em;
  display: inline-block;
  padding: 15px 0;
}

#previewHolder {
  max-width: 100%;
  height: auto;
}
